.u-section-1 {
  background-image: none;
  min-height: 871px;
}

.u-section-1 .u-text-1 {
  width: 680px;
  margin: 12px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -38px calc(((100% - 1140px) / 2) + 224px) 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-shape-1 {
  width: 119px;
  height: 34px;
  margin: -33px calc(((100% - 1140px) / 2) + 353px) 0 auto;
}

.u-section-1 .u-map-1 {
  height: 576px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 358px;
  background-image: linear-gradient(#db545a, #570cd9);
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 22px 84px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 4px 60px 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.6;
  font-size: 1.125rem;
  margin: -25px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 813px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 353px);
  }

  .u-section-1 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 642px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 353px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 353px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 221px);
  }
}.u-section-2 {
  background-image: linear-gradient(#4a42c9, #4a42c9);
  min-height: 834px;
}

.u-section-2 .u-text-1 {
  width: 680px;
  margin: 11px auto 0;
}

.u-section-2 .u-map-1 {
  height: 609px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2) + 60px) 0;
}

.u-section-2 .u-text-3 {
  margin: 0 calc(((100% - 1140px) / 2) + 60px) 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-3 {
  background-image: linear-gradient(#4a42c9, #adf6f2);
  min-height: 570px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 153px 1px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-3 {
  margin: 0 0 0 8px;
}

.u-section-3 .u-text-4 {
  margin: 0 0 0 8px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 470px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    padding: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 360px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 340px;
  }
}